{% extends "base.meta.jinja" %}
{% block mark_group %}
GROUP{{ data.id }}; BEGIN; COMPOSITE;BINARY;
ID; {{ data.id }}

NAME; {{ data.name }}

COLOR; {{ data.color }}

HOTKEY; {{ data.hotkey }}

USERPARAM; {{ data.userparam }}

SUBGROUPS; BEGIN; COMPOSITE;BINARY;

GROUP{{ id_ }}; END
{% endblock mark_group %}